<!DOCTYPE html>
<html>
  <head>
    <title>X-ray Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>
    <nav>
      <h1>X-Ray Detection for Pneumonia and Covid-19</h1>
      <div class="container">
        
        <ul class="nav-links">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('login') }}">Sign In</a></li>
          <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          <li><a href="{{ url_for('admin') }}">Admin</a></li>
        </ul>
      </div>
    </nav>

    <h1>Overview</h1>
    <h3>Pneumonia</h3>
    <p>
      Pneumonia is an infection that inflames the air sacs in one or both lungs. The air sacs may fill with fluid or pus (purulent material), causing cough with phlegm or pus, fever, chills, and difficulty breathing. A variety of organisms, including bacteria, viruses and fungi, can cause pneumonia.
Pneumonia can range in seriousness from mild to life-threatening. It is most serious for infants and young children, people older than age 65, and people with health problems or weakened immune systems.
    </p>
    <h3>Covid-19</h3>
    <p>

      Coronaviruses are a family of viruses that can cause illnesses such as the common cold, severe acute respiratory syndrome (SARS) and Middle East respiratory syndrome (MERS). In 2019, a new coronavirus was identified as the cause of a disease outbreak that originated in China.

The virus is known as severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). The disease it causes is called coronavirus disease 2019 (COVID-19). In March 2020, the World Health Organization (WHO) declared the COVID-19 outbreak a pandemic.

Public health groups, including the U.S. Centers for Disease Control and Prevention (CDC) and WHO, are monitoring the COVID-19 pandemic and posting updates on their websites. These groups have also issued recommendations for preventing and treating the virus that causes COVID-19.
    </p>

   <h1>Methodology</h1>
    <p>
      Coronavirus disease 2019 (COVID-19) is an infectious disease with first symptoms similar to the flu.
       COVID-19 appeared first in China and very quickly spreads to the rest of the world, causing then the 2019-20 coronavirus pandemic. 
       In many cases, this disease causes pneumonia. Since pulmonary infections can be observed through radiography images, this projects investigates deep learning methods for automatically analyzing query chest X-ray images with the hope to bring precision tools to health professionals towards screening the COVID-19 and diagnosing confirmed patients. 
       Tailored deep learning models are proposed to detect pneumonia infection cases. </p>

    <h1>Causes of pneumonia</h1>

<h4>Bacteria</h4>
<p>Bacteria are a common cause of pneumonia in adults.
  Many types of bacteria can cause pneumonia, but Streptococcus pneumoniae (also called pneumococcus bacteria) is the most common cause in the United States. 
Some bacteria cause pneumonia with different symptoms or other characteristics than the usual pneumonia. This infection is called atypical pneumonia.
For example, Mycoplasma pneumoniae causes a mild form of pneumonia often called “walking pneumonia.” Legionella pneumophila causes a severe type of pneumonia called Legionnaires’ diseaseexternal link.
Bacterial pneumonia can develop on its own or after you have a cold or the flu.</p>

<h4>Viruses</h4>
<p>Viruses that infect your lungs and airways can cause pneumonia. 
  The flu (influenza virus) and the common cold (rhinovirus) are the most common causes of viral pneumonia in adults. 
  Respiratory syncytial virus (RSV) is the most common cause of viral pneumonia in young children.</p>
  
  <h1>Causes of Covid-19</h1>
<p>
The virus causing COVID-19 is officially known as severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). It belongs to a larger family of viruses called coronavirus. Although coronaviruses can affect both animals and humans, only human coronaviruses are known to cause respiratory infections.

There are many genetic variations of the COVID-19 virus called variants. Variants can affect the spread of the virus, how serious an infection is and the protection that you receive from a previous infection, vaccines or treatments. The main variant of concern in Canada is Omicron (B.1.1.529) and its related subvariants.
</p>

</body>
  </html>