<!DOCTYPE html>
<html>
<head>
	<title>Image Prediction Results</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/predict.css') }}">
</head>
<body>
	<nav>
		<h1>X-Ray Detection for Pneumonia and Covid-19</h1>
		<div class="container1">
		  
		  <ul class="nav-links">
			<li><a href="{{ url_for('home') }}">Home</a></li>
			<li><a href="{{ url_for('about') }}">About</a></li>
			<li><a href="{{ url_for('admin') }}">Admin</a></li>
		  </ul>
		</div>
	  </nav>
    <form>
	<h1>X-Ray Image Prediction Results</h1>
	<b>{{ prediction }}</b>
	<br>
    <img src="{{ url_for('static', filename=image_file) }}" alt="Uploaded Image">
    <br>
</form>
</body>
</html>
