<!DOCTYPE html>
<html>
<head>
	<title>Image Classification</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
	<nav>
		<h1>X-Ray Detection for Pneumonia and Covid-19</h1>
		<div class="container1">
		  
		  <ul class="nav-links">
			<li><a href="{{ url_for('home') }}">Home</a></li>
			<li><a href="{{ url_for('about') }}">About</a></li>
			<li><a href="{{ url_for('admin') }}">Admin</a></li>
		  </ul>
		</div>
	  </nav>
	
	<form action="/pneumonia_detection/predict" method="POST" enctype="multipart/form-data">
        <h2>X-Ray Prediction</h2>
        <img src="{{ url_for('static', filename='images/BG.png') }}" alt="Uploaded Image" width="100%", height="100%">
        <br>
		
		<input type="file" name="image" required="required">
		<input type="submit" value="Predict">
		
	</form>
	
		<form action="/sample_files">
			<br>
		Click Here to see sample files
		<br>
		<br>
			<input type="submit" value="Sample Files">	
			</form>
</body>
</html>
